<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'home'%}">iNsTa <span class="sr-only"></span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="accounts/register">SignUp</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
        </li>

        
        <li class="nav-item">
        <a class="nav-link" href="profile/{{user.username}}">Profile</a>
        </li>


        <li class="nav-item">
        <a class="nav-link" href="{%url 'create-profile'%}">Update Profile</a>
        </li>
    
          
          <li class="nav-item">
            <a class="nav-link" href="{%url 'uploadimage'%}">Upload</a>
          </li>

       
          
        
    </ul> 
    </div>

    <form method="GET" class="form-inline" action="">
        <input  type="search" name= "user" placeholder="Search Usernames" aria-label="Search" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>